/* External CSS */
/* CSS Syntax */
/* selector {property: value;} */

/* Example */
*{
    margin: 0;
    padding: 0;
}
h1 {
    color: blue;
    text-align: center;
    
}

button
{
    background-color: #092cf5; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1
{
    color: #0bf52e;
    font-size: 50px;
    margin-bottom: 20px;
}

.container button
{
    background-color: #f50b0b; /* Red */
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.container button:hover
{
    background-color: #f50b0b; /* Red */
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    color: #0bf52e;
}