/* External CSS */
/* CSS Syntax */
/* selector {property: value;} */

/* Example */
*{
    margin: 0;
    padding: 0;
}
h1 {
    color: blue;
    text-align: center;
    
}

button
{
    background-color: #092cf5; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}